.logo{
    width: 70px;
    height: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  z-index:9999;
}

.header{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index:9999;
}

